.mustache {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  color: black;
  box-shadow:
    180px 0 0 0 currentColor,
    330px 0 0 0 currentColor;
}